<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
    <title>自动化测试平台</title>
</head>
<body>
 <li class="nav-header">
     <div class="dropdown profile-element"> <span>
      ![](/static/bootstrap/img/profile_small.jpg)</span>
         <a data-toggle="dropdown" class="dropdown-toggle" href="#">
             <span class="clear">
                 <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                 </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
         <ul class="dropdown-menu animated fadeInRight m-t-xs">
             <li><a href="profile.html">Profile</a></li>
             <li><a href="contacts.html">Contacts</a></li>
             <li class="divider"></li>
             <li><a href="login.html">Logout</a></li>
         </ul>
     </div>
     <div class="logo-element">
         Chances
     </div>
 </li>
<li id="index">
      <a href="{% url 'index' %}">
        <i class="fa fa-dashboard"></i>
        <span class="nav-label">首页</span>
        <span class="fa arrow"></span>
    </a>
</li>
<li id="bigdata">
    <a href="index_bak.html">
        <i class="fa fa-th-large"></i>
        <span class="nav-label">造数据</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li><a href="{% url 'bigdata:testcase-list' %}">测试用例</a></li>
        <li><a href="{% url 'bigdata:testaction-list' %}">执行用例</a></li>
    </ul>
</li>
<li id="project">
    <a href="{% url 'projects:project-list' %}"><i class="fa fa-diamond"></i> <span class="nav-label">项目管理</span></a>
</body>
</html>