django==3.0.6
django-redis
djangorestframework
django-filter
django-cors-headers
django-debug-toolbar
django-imagekit
PyJWT
qiniu
openpyxl
xlrd
xlwt
requests
celery
itsdangerous
elasticsearch
PyMySQL
pillow