<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Dashboard / Universe Admin</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">


    <link rel="stylesheet" href="{% static 'fonts/open-sans/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/iconfont/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" id="stylesheet">



    <script src="{% static 'js/ie.assign.fix.min.js' %}"></script>
</head>
<body class="js-loading ">

<div class="preloader">
    <div class="loader">
        <span class="loader__indicator"></span>
        <div class="loader__label"><img src="{% static 'img/logo.png' %}" alt=""></div>
    </div>
</div>


    <div class="navbar navbar-light navbar-expand-lg">
    <button class="sidebar-toggler" type="button">
        <span class="iconfont iconfont-sidebar-open sidebar-toggler__open"></span>
        <span class="iconfont iconfont-alert-close sidebar-toggler__close"></span>
    </button>

    <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt=""/></a>
    <a class="navbar-brand-sm" href="/"><img src="{% static 'img/logo-sm.png' %}" alt=""/></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="iconfont iconfont-navbar-open navbar-toggler__open"></span>
        <span class="iconfont iconfont-alert-close navbar-toggler__close"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <div class="navbar-search">
      <div class="input-group iconfont icon-right">
        <input class="form-control navbar-search__input" type="text" placeholder="Search"/><span class="input-icon iconfont iconfont-search"></span>
      </div>
    </div>
    <div class="dropdown navbar-dropdown no-arrow navbar-notify-dropdown">
      <a class="dropdown-toggle navbar-dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="navbar-notify">
          <span>
            <span class="navbar-notify__icon iconfont iconfont-bell"></span>
            <span class="navbar-notify__text">Notifications</span>
          </span>
          <span class="navbar-notify__amount">3</span>
        </span>
    </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown-menu navbar-dropdown-notifications">
        <div class="navbar-dropdown-notifications__header"><span>NOTIFICATIONS</span><span class="navbar-dropdown-notifications__mark-read">Mark all as read<a class="icon iconfont iconfont-arrow-circle-down" href="#"></a></span></div>
        <div class="navbar-dropdown-notifications__body">
          <div class="navbar-dropdown-notifications__body-empty"><img class="navbar-dropdown-notifications__body-empty-image" src="{% static 'img/empty-notifications.png' %}" alt=""/>
            <div class="navbar-dropdown-notifications__body-empty-text">You`re up to date!</div>
          </div>
        </div>
        <a class="navbar-dropdown-notifications__view-all" href="#"><span class="icon iconfont iconfont-view-all"></span><span>View all</span></a>
      </div>
    </div>
    <div class="dropdown navbar-dropdown no-arrow navbar-notify-dropdown navbar-notify-dropdown--messages">
      <a class="dropdown-toggle navbar-dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="navbar-notify">
          <span>
            <span class="navbar-notify__icon iconfont iconfont-envelope"></span>
            <span class="navbar-notify__text">Messages</span>
          </span>
          <span class="navbar-notify__amount">5</span>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown-menu navbar-dropdown-notifications navbar-dropdown-messages">
        <div class="navbar-dropdown-notifications__header"><span>MESSAGES</span><span class="navbar-dropdown-notifications__mark-read">Mark all as read<a class="icon iconfont iconfont-arrow-circle-down" href="#"></a></span></div>
        <div class="navbar-dropdown-notifications__body navbar-dropdown-notifications__body-messages js-scrollable">
          <div class="navbar-dropdown-notifications__item is-unread">
            <img class="navbar-dropdown-notifications__item-avatar rounded-circle" src="{% static 'img/users/user-4.png' %}" alt="" width="40" height="40"/>
            <div class="navbar-dropdown-notifications__item-notify">
              <div>
                <span class="icon iconfont iconfont-reply-to"></span>
                <strong>Gabriel Saunders</strong> replied to <strong>your comment</strong> to <strong>The secret weapon of lebound marketing...</strong>
              </div>
              <div class="navbar-dropdown-notifications__item-datetime">5 minute ago</div>
            </div>
            <div class="navbar-dropdown-notifications__item-actions">
              <span class="icon iconfont iconfont-circle-check navbar-dropdown-notifications__item-mark-as-read" data-toggle="tooltip" data-placement="top" title="Mark as read"></span>
              <span class="icon iconfont iconfont-circle-close navbar-dropdown-notifications__item-remove" data-toggle="tooltip" data-placement="top" title="Delete notification"></span>
            </div>
          </div>
          <div class="navbar-dropdown-notifications__item">
            <img class="navbar-dropdown-notifications__item-avatar rounded-circle" src="{% static 'img/users/user-5.png' %}" alt="" width="40" height="40"/>
            <div class="navbar-dropdown-notifications__item-notify">
              <div>
                <span class="icon iconfont iconfont-comments"></span>
                <strong>Gabriel Saunders</strong> replied to <strong>your comment</strong> to <strong>The secret weapon of lebound marketing...</strong>
              </div>
              <div class="navbar-dropdown-notifications__item-datetime">5 minute ago</div>
            </div>
            <div class="navbar-dropdown-notifications__item-actions">
              <span class="icon iconfont iconfont-circle-check navbar-dropdown-notifications__item-mark-as-read" data-toggle="tooltip" data-placement="top" title="Mark as read"></span>
              <span class="icon iconfont iconfont-circle-close navbar-dropdown-notifications__item-remove" data-toggle="tooltip" data-placement="top" title="Delete notification"></span>
            </div>
          </div>
          <div class="navbar-dropdown-notifications__item is-unread">
            <img class="navbar-dropdown-notifications__item-avatar rounded-circle" src="{% static 'img/users/user-6.png' %}" alt="" width="40" height="40"/>
            <div class="navbar-dropdown-notifications__item-notify">
              <div>
                <span class="icon iconfont iconfont-star"></span>
                <strong>Shawna Cohen</strong> replied to <strong>your comment</strong> to <strong>The secret weapon of lebound marketing...</strong>
              </div>
              <div class="navbar-dropdown-notifications__item-datetime">5 minute ago</div>
            </div>
            <div class="navbar-dropdown-notifications__item-actions">
              <span class="icon iconfont iconfont-circle-check navbar-dropdown-notifications__item-mark-as-read" data-toggle="tooltip" data-placement="top" title="Mark as read"></span>
              <span class="icon iconfont iconfont-circle-close navbar-dropdown-notifications__item-remove" data-toggle="tooltip" data-placement="top" title="Delete notification"></span>
            </div>
          </div>
          <div class="navbar-dropdown-notifications__item is-unread">
            <img class="navbar-dropdown-notifications__item-avatar rounded-circle" src="{% static 'img/users/user-7.png' %}" alt="" width="40" height="40"/>
            <div class="navbar-dropdown-notifications__item-notify">
              <div>
                <span class="icon iconfont iconfont-download"></span>
                <strong>Jason Kendall</strong> replied to <strong>your comment</strong> to <strong>The secret weapon of lebound marketing...</strong>
              </div>
              <div class="navbar-dropdown-notifications__item-datetime">5 minute ago</div>
            </div>
            <div class="navbar-dropdown-notifications__item-actions">
              <span class="icon iconfont iconfont-circle-check navbar-dropdown-notifications__item-mark-as-read" data-toggle="tooltip" data-placement="top" title="Mark as read"></span>
              <span class="icon iconfont iconfont-circle-close navbar-dropdown-notifications__item-remove" data-toggle="tooltip" data-placement="top" title="Delete notification"></span>
            </div>
          </div>
        </div><a class="navbar-dropdown-notifications__view-all" href="#"><span class="icon iconfont iconfont-view-all"></span><span>View all</span></a>
      </div>
    </div>
    <div class="dropdown navbar-dropdown no-arrow navbar-help-dropdown">
      <a class="dropdown-toggle navbar-dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="navbar-notify">
          <span>
            <span class="navbar-notify__icon iconfont iconfont-info"></span>
            <span class="navbar-notify__text">Info</span>
          </span>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-center navbar-dropdown-menu">
        <h6 class="navbar-help-dropdown__heading">Need Help?</h6>
        <p class="navbar-help-dropdown__desc">
          QQ: 445129997<br>
          WeChat：qq445129997 <br>
          send a email: <a href="#">Eden445129997@163.com</a> <br>
          or <br>
        </p>
        <div>
          <a href="help-center-submit-ticket.html" class="btn btn-info navbar-help-dropdown__submit">Submit a Ticket</a>
        </div>
      </div>
    </div>
    <div class="dropdown navbar-dropdown">
      <a class="dropdown-toggle navbar-dropdown-toggle navbar-dropdown-toggle__user" data-toggle="dropdown" href="#">
        <img src="{% static 'img/users/user-3.png' %}" alt="" class="navbar-dropdown-toggle__user-avatar">
        <span class="navbar-dropdown__user-name">John Smith</span>
      </a>
      <div class="dropdown-menu navbar-dropdown-menu navbar-dropdown-menu__user">
        <div class="navbar-dropdown-user-content">
          <div class="dropdown-user__avatar"><img src="{% static 'img/users/user-3.png' %}" alt=""/></div>
          <div class="dropdown-info">
            <div class="dropdown-info__name">John Smith</div>
            <div class="dropdown-info__job">Manager</div>
            <div class="dropdown-info-buttons"><a class="dropdown-info__viewprofile" href="#">View Profile</a><a class="dropdown-info__addaccount" href="#">Add account</a></div>
          </div>
        </div><a class="dropdown-item navbar-dropdown__item" href="#">Upgrade to <span>PRO</span></a><a class="dropdown-item navbar-dropdown__item" href="#">Invite team member</a><a class="dropdown-item navbar-dropdown__item" href="#">Fedback</a><a class="dropdown-item navbar-dropdown__item" href="#">Help</a><a class="dropdown-item navbar-dropdown__item" href="#">Sign Out</a>
      </div>
    </div>
  </div>
</div>



<div class="page-wrap">

    <div class="sidebar">
  <div class="sidebar__scroll">
    <div>
      <div class="sidebar__user">
        <div class="sidebar__user-avatar">
          <!--<img src="{% static 'img/avatars/placeholder.png' %}" alt="" width="68" height="68" class="rounded-circle">-->
          <span class="sidebar__user-avatar-placeholder">
            <span class="iconfont iconfont-avatar-placeholder"></span>
          </span>
          <!--<img src="% static 'img/users/user-1.jpg' %}" alt="" width="68" height="68" class="rounded-circle">-->
        </div>
        <div class="dropdown sidebar__user-dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eden
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Help</a>
            <a class="dropdown-item" href="#">Sign Out</a>
          </div>
        </div>
      </div>
      <ul class="sidebar-nav">

        <!--首页-->
        <li class="sidebar-nav__item">
          <a class="sidebar-nav__link" href="#">
            <span class="sidebar-nav__item_icon iconfont iconfont-home"></span>
            <span class="sidebar-nav__item-text">首页</span>
          </a>
        </li>

        <!--个人中心-->
        <li class="sidebar-nav__item">
          <a class="sidebar-nav__link" href="#">
            <span class="sidebar-nav__item_icon iconfont iconfont-profile"></span>
            <span class="sidebar-nav__item-text">个人中心</span>
          </a>
        </li>

        <!--项目列表-->
        {% if projects %}
            {% for project in projects %}
            <li class="sidebar-nav__item">
                <a class="sidebar-nav__link" href="#">
                    <span class="sidebar-nav__item_icon iconfont iconfont-folder"></span>
                    <span class="sidebar-nav__item-text">{{project}}</span>
                </a>
                <ul class="sidebar-subnav">
                {% for detail in project_details %}
                    <li class="sidebar-subnav__item"><a class="sidebar-subnav__link" href="#">{{detail}}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        {% endif %}

        <!--定时任务-->
        <li class="sidebar-nav__item">
          <a class="sidebar-nav__link" href="#">
            <span class="sidebar-nav__item_icon iconfont iconfont-calendar"></span>
            <span class="sidebar-nav__item-text">定时任务</span>
            <span class="badge sidebar-nav__badge">24</span>
          </a>
        </li>

        <!--设置-->
        <li class="sidebar-nav__item">
          <a class="sidebar-nav__link" href="#">
            <span class="sidebar-nav__item_icon iconfont iconfont-settings"></span>
            <span class="sidebar-nav__item-text">设置</span>
          </a>
          <ul class="sidebar-subnav">
            <li class="sidebar-subnav__item"><a class="sidebar-subnav__link" href="app-settings.html">App Settings</a></li>
            <li class="sidebar-subnav__item"><a class="sidebar-subnav__link" href="global-settings.html">Global Settings</a></li>
            <li class="sidebar-subnav__item"><a class="sidebar-subnav__link" href="account-settings.html">Account Settings</a></li>
          </ul>
        </li>

      </ul>
    </div>

    <div class="sidebar-nav__footer">
      <div class="sidebar__collapse">
        <span class="icon iconfont iconfont-collapse-left-arrows"></span>
      </div>
    </div>
  </div>
</div>



<div class="page-content">

    <div class="container-fluid">
        <h2 class="content-heading">自动化测试平台</h2>
        <div class="content-description">Eden的自动化测试平台</div>
            <div class="row">

            <!--第一个框-->
            <div class="col-xl-3 col-lg-3 col-md-6">

            <div class="widget widget-alpha widget-alpha--color-amaranth">
                <div>
                    <div class="widget-alpha__amount">278</div>
                    <div class="widget-alpha__description">新建项目</div>
                </div>
                <span class="widget-alpha__icon iconfont iconfont-bag-outline"></span>
            </div>
            <!--第一个框下排图片-->

            </div>

            <!--第二个框-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="widget widget-alpha widget-alpha--color-green-jungle">
                    <div>
                        <div class="widget-alpha__amount">156</div>
                        <div class="widget-alpha__description">New Clients</div>
                    </div>
                    <span class="widget-alpha__icon iconfont iconfont-user-outline"></span>
                </div>
            <!--第二个框下排图片-->

            </div>

        </div>
    </div>
</div>


<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'vendor/simplebar/simplebar.js' %}"></script>
<script src="{% static 'vendor/text-avatar/jquery.textavatar.js' %}"></script>
<script src="{% static 'vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'vendor/wnumb/wNumb.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


<script src="{% static 'vendor/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/preview/default-dashboard.min.js' %}"></script>


<div class="sidebar-mobile-overlay"></div>


  <div class="settings-panel">
  <div class="settings-panel__header">
    <span class="settings-panel__close iconfont iconfont-modal-close"></span>

    <h5 class="settings-panel__heading">Theme Customizer</h5>
    <div class="settings-panel__desc">Customize & Preview In Real Time</div>
  </div>
  <div class="settings-panel__body">
    <div class="settings-panel__layout-options">
      <h6 class="settings-panel__block-heading">Layout Options</h6>
      <div class="settings-panel__layout-option">
        <label class="switch-inline">
          <span class="switch">
            <input type="checkbox" id="collapse-sidebar">
              <span class="switch-slider">
                <span class="switch-slider__on"></span>
                <span class="switch-slider__off"></span>
              </span>
            </span>
          <span class="switch-inline__text">Collapsed Sidebar</span>
        </label>
      </div>
      <!--<div class="settings-panel__layout-option">
        <label class="switch-inline">
          <span class="switch">
            <input type="checkbox" checked>
              <span class="switch-slider">
                <span class="switch-slider__on"></span>
                <span class="switch-slider__off"></span>
              </span>
            </span>
          <span class="switch-inline__text">Fixed Sidebar</span>
        </label>
      </div>-->
    </div>
    <div class="settings-panel__theme-colors">
      <h6 class="settings-panel__block-heading">Theme Colors</h6>

      <ul class="list-unstyled">

        <!--右下角第一个颜色-->
        <li>
          <label class="color-radio js-settings-color">
            <input type="radio" name="settings_color" data-style="style-a">
            <span class="color-radio__color"></span>
            <span class="color-radio__text">#1</span>
          </label>
        </li>

      </ul>
    </div>
  </div>
</div>

<span class="settings-panel-control">
  <span class="iconfont iconfont-settings"></span>
</span>




</body>
</html>
